@font-face {
  font-family: "IBM";
  src: url(../fonts//IBM\ Plex\ Sans/IBMPlexSans-Regular.ttf);
}

* {
  font-family: "IBM";
}
.bg__about_img {
  background-image: url(../img//bgAbout.png);
  background-repeat:no-repeat;
  background-position: center center;
}
.bg__quote_img {
  background-image: url(../img//pattern2.png);
  background-repeat:no-repeat;
  background-position: center center;
}
.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68D391;
}